:root {
  --color-emerald: #06d6a0;
  --color-gunmetal: #2a2d34;
  --color-sunglow: #ffd166;
  --color-gold: #f2aa02;
  --color-crayola: #e84a67;
  --color-seasalt: #fafafa;
  --color-transparent: rgba(255, 255, 255, 1);
  --color-english-violet: #4b3f69;
  --color-china-rose: #9e5673;
}
